:root {
    --primary-color: #0056b3;
    --secondary-color: #6c757d;
    --background-color: #f0f0f0;
    --text-color: #333;
    --form-background-color: #ffffff;
    --border-color: #ccc;
    --border-radius: 0.25rem;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --form-max-width: 50%;

    --back: #003366;
    --back2: hsla(192, 92%, 53%, 0.5);
    --foredark: hsla(0, 0%, 10%, 1);
    --forelight: #FFD700;
    --border: hsla(0, 0%, 20%, .8);
    --borderlight: hsla(0, 0%, 33%, .3);
    --shadow: hsl(0, 0%, 50%);
    --zebra: hsl(0, 0%, 93%, 1);

}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 20px;
}

header {
    background-color: #003366;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header img {
    height: 100px;
    /* Adjust based on your logo's size */
}

header h2,
header h3 {
    color: #FFFFFF;
    margin: 0;
    padding-left: 20px;
    /* Space between logo and text */
}

/* Navigation styling */
/* Hide menu initially */
.nav {
    display: none;
    transition: all 0.3s ease;
}

/* Class to display menu */
.showMenu {
    display: flex;
    flex-direction: row;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: block;
    /* Space between navigation items */
}

nav ul li a {
    text-decoration: none;
    color: #FFD700;
    font-weight: bold;
    list-style-type: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.menu li:last-child {
    margin-right: 30px;
    /* Adjust the value as needed */
}

/* Hamburger Button Styling */
.hamburger {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 24px;
    transition: transform 0.3s ease;
    color: #FFD700;
}

/* Animation class for when the menu is open */
.hamburger.open {
    transform: rotate(45deg);
}



.hero {
    position: relative;
    text-align: center;
    /* Center the text */
}

.hero img {
    width: 100%;
    height: auto;
    max-height: 500px;
    /* Maximum height for the hero image */
    object-fit: cover;
}

.hero .call-to-action {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    width: 90%;
    /* Adjust the width on smaller screens */
    margin: 0 auto;
    /* Center the call-to-action */
    padding: 10px;
}

.call-to-action h3 {
    margin-bottom: 15px;
    font-size: 34px;
    /* Adjust font size as needed */
}

.call-to-action p {
    margin-bottom: 20px;
    font-size: 16px;
    /* Adjust font size as needed */
}

.call-to-action a {
    display: inline-block;
    background-color: #FFD700;
    color: #003366;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.call-to-action a:hover {
    background-color: #E6C200;
    /* Slightly darker shade for hover effect */
}

footer {
    background-color: #333333;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #FFD700;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.weather-card,
.event-card {
    background-color: #f9f9f9;
   
    border-radius: 10px;
  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    padding: 20px;

    max-width: 300px;

    margin: 20px auto;
 
    text-align: center;

    font-family: 'Arial', sans-serif;

}

.weather-card h3 {
    color: #333;
    /* Dark text color for the heading */
    margin-bottom: 15px;
    /* Space below the heading */
}

.weather-card img {
    width: 50%;
    margin-bottom: 15px;
    /* Space below the image */
}

.weather-card p {
    color: #666;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;

}

.weather-card strong {
    color: #000;
    /* Bold text color */
}


.purpose-card {
    background-color: var(--back); 
    color: white;
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px 0;
}

.purpose-card h3 {
    background-color: var(--forelight); 
    padding: 10px;
    margin: -20px -20px 20px -20px; 
    border-radius: 8px 8px 0 0; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

.purpose-card p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.purpose-card strong {
    color: #ffd700; 
}
.company-grid-container {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.company-spotlights {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    gap: 50px;
}

.company-spotlights > div { 
    flex: 1; 
    max-width: 33.33%; 
    box-sizing: border-box; 
    padding: 10px; 
   
}

.company {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px 0; 
    padding: 20px; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    background-color: #ffffff; 
    transition: transform 0.2s;
}

.company h4 {
    color: #007BFF; 
    margin-bottom: 15px; 
    text-align: center;
}

.company p {
    color: #333; /* Dark grey color for text */
    line-height: 1.5; /* Spacing between lines of text */
}

.company:hover {
    transform: scale(1.05); /* Slightly scale up the ad on hover */
}

.spotlight {
    flex: 1;
    min-width: 250px;

    max-width: calc(33.333% - 20px);
    background-color: #f0f0f0;

    border-radius: 8px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    padding: 20px;

    flex-basis: calc(33.333% - 20px);

    display: flex;
    flex-direction: column;

    align-items: center;

}

.spotlight h4 {
    margin: 10px 0;

}

.spotlight p {
    text-align: center;
    margin: 5px 0;

}


/* Mobile Navigation Style */
.mobile-nav {
    top: 100%;
    left: 0;
    width: 100%;
    background: #333;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    z-index: 1000;
}

.mobile-nav a {
    display: block;
    color: #FFD700;
    padding: 15px;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
}

.mobile-nav a {
    text-decoration: none;
    color: #FFD700;
    font-weight: bold;
    list-style-type: none;
}

.nav {
    display: none;
}

.hamburger {
    cursor: pointer;
    display: block;
    color: FFD700;
    /* Ensure the initial state is styled for the hamburger icon */
}

.mobile-nav {
    display: none;
    /* Initially hidden */
}

.hamburger.is-active {

    font-size: 24px;
    /* Adjust size as needed */
    line-height: 1;
    /* Adjust line height to center the "X" if needed */
    transform: none;
    /* Remove any transformations */
}

.hamburger.is-active:before,
.hamburger.is-active:after {
    content: none;
    /* Hide the pseudo-elements */
}


/** For Discove.html **/

/* CSS */
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* Sidebar to main content ratio */
    gap: 20px;
}

.sidebar {
    /* Sidebar styles */
}

.main-content {
    /* Main content styles */
}

.main-content .photo {
    margin-bottom: 20px;
}

.main-content .photo img {
    width: 100%;
    /* Ensure images are responsive */
    height: auto;
}


/* CSS */
.discover-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    /* Sidebar to main content ratio */
    gap: 20px;
}

.sidebar {
    /* Sidebar styles */
}

.main-content {
    /* Main content styles */
}

.main-content .photo {
    margin-bottom: 20px;
}

.main-content .photo img {
    width: 100%;
    /* Ensure images are responsive */
    height: auto;
}


/* General sidebar styling */
.sidebar {
    background-color: #f4f4f4;
    padding: 20px;
    color: #333;
    padding: 10px;
}

/* Ensures images within the sidebar are responsive */
.sidebar img {
    max-width: 100%;
    height: auto;
    display: block;
    /* Removes any default alignment */
    margin: 0 auto;
    /* Centers the image */
}

/* Styling for the dividers */
.sidebar hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

.sidebar h2 {
    font-size: 18px;
}

/* Styling for the text to improve readability */
.sidebar p {
    line-height: 1.6;
    margin: 10px 0;
    font-size: 14px;
}

.sidebar .local-events {
    border: 2px solid #007bff;
    /* Blue border */
    padding: 5px;
    margin-top: 20px;
}

.sidebar .statistics {
    border: 2px solid #007bff;
    /* Blue border */
    padding: 5px;
    margin-top: 20px;
}

.calendar img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;

}

.userVisit {
    border: 2px solid #007bff;
    /* Blue border */
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    /* Rounded corners */
    background-color: #f9f9f9;
    /* Light grey background */
    font-family: 'Arial', sans-serif;
    /* Consistent font */
    color: #333;
    /* Dark grey text color */
}

.userVisit p {
    margin: 0;
    /* Remove default margin */
    font-size: 16px;
    /* Slightly larger font size */
}

form.form1 {
    background-color: var(--form-background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 20px;
    margin: auto;
    max-width: 90%;
}

form.form1 {
    max-width: var(--form-max-width);
}

form.form1 label {
    margin-bottom: 15px;
    color: var(--text-color);
}

form.form1 input[type="text"],
form.form1 input[type="email"],
form.form1 input[type="tel"],
form.form1 select,
form.form1 textarea,
form.form1 input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    /* Ensures padding does not affect overall width */
}

form.form1 input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

form.form1 input[type="submit"]:hover {
    background-color: #004494;
    /* Darker shade for better visibility */
}


/* ------------------------------  TABLES   --------------------------------  */
.main-join {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    /* Adds space between the divs */
    padding: 20px;
}

.form-registration {
    flex: 1;
    min-width: 300px;
    /* Ensures the form doesn't get too narrow */
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.membership-benefits {
    flex: 1;
    min-width: 300px;
    /* Ensures the table doesn't get too narrow */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #003366;
    color: #FFD700;
    text-align: center;
    vertical-align: middle;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    text-align: center;
    vertical-align: middle;
}

input[type="submit"] {
    background-color: #04AA6D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #037a50;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.thankyou-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.thankyou-main h1 {
    font-size: 2rem;
    color: #003366;
    margin-bottom: 20px;
}

.thankyou-main p {
    font-size: 1.25rem;
    color: #666;
}

.member-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.member-image-div {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.member-image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member-details-div {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.member-address,
.member-phone,
.member-details,
.member-membership-level {
    margin-bottom: 10px;
    /* Adds space between each detail */
}

.member-name {
    font-weight: bold;
    margin-bottom: 10px;
    /* Adds space below the name */
}

#membersContainer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}


.titleHeader {
    display: flex;
    /* Enables flexbox */
    justify-content: center;
    /* Centers children horizontally */
    align-items: center;
    /* Centers children vertically (if you have multiple lines of text or elements) */
    margin: 20px 0;
    /* Keeps your existing spacing */
    flex-direction: column;
    /* Stacks children vertically */
}

.titleHeader h1 {
    font-size: 2em;
    /* Keeps your existing font size */
    margin-bottom: 0.5em;
    /* Adjust or remove based on your layout needs */
}

#toggleViewBtn {
    font-size: 1em;
    /* Adjusts the font size of the button */
    padding: 10px 20px;
    /* Adds padding inside the button for better touch */
    background-color: #007bff;
    /* Sets a background color */
    color: white;
    /* Sets the text color */
    border: none;
    /* Removes the border */
    border-radius: 5px;
    /* Rounds the corners of the button */
    cursor: pointer;
    /* Changes the cursor to a pointer on hover */
}

#toggleViewBtn:hover {
    background-color: #0056b3;
    /* Darkens the button on hover for a visual feedback */
}

#membersContainerText {
    display: none;
}

.banner {
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    padding: 10px;
    text-align: center;
    position: relative;
}

.banner button {
    position: absolute;
    right: 10px;
    top: 5px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
}