@media (min-width: 768px) {
    .grid-container {
        display: flex;

        flex-direction: row;

        justify-content: center;

        flex-wrap: wrap;

    }

    .company-spotlights {
        display: flex;
        flex-direction: row;

        justify-content: center;

        flex-wrap: wrap;

    }

    .spotlight {
        flex: 1;
    }

    .hero img {
        width: 100%;
        height: auto;
    }

 
    .hero .call-to-action {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        max-width: 300px;
 
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
      
    }



    .call-to-action h3 {
        margin-bottom: 15px;
        font-size: 34px;
       
    }

    .call-to-action p {
        margin-bottom: 20px;
        font-size: 16px;
       
    }

    .call-to-action a {
        display: inline-block;
        background-color: #FFD700;
        color: #003366;
        padding: 10px 20px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease;
    }

    .call-to-action a:hover {
        background-color: #E6C200;
       
    }


    
    .hamburger {
        display: none;
    }


    .nav {
        display: flex;

    }

    .menu {

        list-style-type: none;
        padding: 0;
        display: flex;
        gap: 20px;
      
    }


    nav ul {
        list-style-type: none;
        padding: 0;
        display: block;
    }
      


    .menu li a {
        padding: 10px;
        
    }

    nav ul li a {
        text-decoration: none;
        color: #FFD700;
        font-weight: bold;
        list-style-type: none;
    }

    .mobile-nav {
        display: none !important;
        
    }

    .discover-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
       
        gap: 20px;
    }
    .photo img {
        transition: box-shadow 0.3s ease;
    }
    
    .photo img:hover {
        transform: rotate(5deg); 
    }


    form.form1 {
        background-color: var(--form-background-color);
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        padding: 20px;
        margin: auto;
        max-width: 90%;
    }

    .main-join {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .main-join .form-registration {
        flex: 1; 
        margin-right: 20px; 
    }

    .main-join .membership-benefits {
        flex: 1; 
    }

}

