@media (min-width: 768px) {
    .grid-container {
        display: flex;

        flex-direction: row;

        justify-content: center;

        flex-wrap: wrap;

    }

    .company-spotlights {
        display: flex;
        flex-direction: row;

        justify-content: center;

        flex-wrap: wrap;

    }

    .spotlight {
        flex: 1;
    }

    .hero img {
        width: 100%;
        height: auto;
    }

    /* Style the call-to-action section for larger screens */
    .hero .call-to-action {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        max-width: 300px;
        /* Adjust based on preference */
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        /* Semi-transparent background */
    }



    .call-to-action h3 {
        margin-bottom: 15px;
        font-size: 34px;
        /* Adjust font size as needed */
    }

    .call-to-action p {
        margin-bottom: 20px;
        font-size: 16px;
        /* Adjust font size as needed */
    }

    .call-to-action a {
        display: inline-block;
        background-color: #FFD700;
        color: #003366;
        padding: 10px 20px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease;
    }

    .call-to-action a:hover {
        background-color: #E6C200;
        /* Slightly darker shade for hover effect */
    }


    /* Hamburger Menu Button - hide it on larger screens */
    .hamburger {
        display: none;
    }

    /* Navigation Menu */
    .nav {
        display: flex;
        /* Show the nav by default on larger screens */
    }

    .menu {

        list-style-type: none;
        padding: 0;
        display: flex;
        gap: 20px;
        /* Space between navigation items */
    }


    nav ul {
        list-style-type: none;
        padding: 0;
        display: block;
        /* Space between navigation items */
    }


    .menu li a {
        padding: 10px;
        /* Adjust padding or any other styles for larger screens */
    }

    nav ul li a {
        text-decoration: none;
        color: #FFD700;
        font-weight: bold;
        list-style-type: none;
    }

    .mobile-nav {
        display: none !important;
        /* Use !important to override any inline styles */
    }

    .discover-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        /* Sidebar to main content ratio */
        gap: 20px;
    }
    .photo img {
        transition: box-shadow 0.3s ease;
    }
    
    .photo img:hover {
        transform: rotate(5deg); /* Rotate the image slightly */
    }


    form.form1 {
        background-color: var(--form-background-color);
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        padding: 20px;
        margin: auto;
        max-width: 90%;
    }

    .main-join {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .main-join .form-registration {
        flex: 1; /* Adjust the flex value as needed to manage space */
        margin-right: 20px; /* Adds some space between the form and the next element */
    }

    .main-join .membership-benefits {
        flex: 1; /* Adjust accordingly */
        /* Additional styling for the membership benefits section */
    }

}