@media (min-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    .grid-container {
        grid-template-columns: 2fr 1fr;
    }

    .menu {
        display: block;
    }

    /* Hide hamburger menu on larger screens */
    .hamburger {
        display: none;
    }


    .hero {
        width: auto;
        /* Set the desired width */
        height: 750px;
        /* Set the desired height */
        overflow: hidden;
        /* Ensure content doesn't overflow */
    }

    .hero span {
        font-size: xx-large;
        position: absolute;
        bottom: 20px; 
        top: auto;
        left: 50px;
        width: 40%;
        background-color: rgba(255,255,255,0.5);
        padding: 2rem;
        text-align: center;
    }

    /* background-color: #4CAF50; */

    /* Position the dark mode toggle container */
    .darkMode {
        position: fixed; /* Use 'fixed' to keep it in view, or 'absolute' for within a positioned parent */
        top: 10px; /* Adjust as needed */
        right: 10px; /* Adjust as needed */
        z-index: 1000; /* Ensure it's above other content */
    }
    
    /* Style the dark mode toggle button */
    #darkModeToggle {
        background-color: #333; /* Dark background for contrast */
        color: #fff; /* Light text color for visibility */
        border: none; /* Remove default border */
        padding: 10px 15px; /* Add some padding for a larger clickable area */
        font-size: 1rem; /* Adjust font size as needed */
        cursor: pointer; /* Change cursor to indicate it's clickable */
        border-radius: 5px; /* Round the corners for a softer look */
        transition: background-color 0.3s; /* Smooth transition for hover effect */
    }
    
    #darkModeToggle:hover {
        background-color: #555; /* Slightly lighter on hover for feedback */
    }


}