@media (min-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    .grid-container {
        grid-template-columns: 2fr 1fr;
    }

    .menu {
        display: block;
    }

    /* Hide hamburger menu on larger screens */
    .hamburger {
        display: none;
    }


    .hero {
        width: auto;
        /* Set the desired width */
        height: 750px;
        /* Set the desired height */
        overflow: hidden;
        /* Ensure content doesn't overflow */
    }


    .darkMode {
        background-color: #4CAF50;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
}